########################################################################
#
#                     ICDE Display Configuration File
# 
# DESCRIPTION
#
# This file is used to determine the settings for displaying shapes in 
# the ICDE GUI. All the possible drawing shapes should have a predefined 
# display definition as given below to display the object.
#
# SYNTAX
#
#   <Shape Number> <purose> <fill-color> <border-style> <fill-pattern>
#
# where
#
#         <purpose> : none|routing|blockage|text
#      <fill-color> : any valid Tk color code 
#    <border-style> : Dashed border setting 1-255
#    <fill-pattern> : Pattern to fill in a shape
#
# NOTE
#
# Use the layer map files to map text layers into the ICDE GUI shape
# number system.
# 
########################################################################

#
# SPECIAL LAYERS ( 0 - 19 )
#

00 custom  red      solid     empty 
00 diearea gray     solid     empty 
00 stdcell red      solid     cross 
00 region  yellow   10        empty
00 row     orange   solid     empty

#
# BASE LAYERS ( 20 - 39 )
#

#
# ROUTING LAYERS ( 40 - 79 )
#

# Poly
40 routing  red      solid     solid
40 blockage red      solid     slash
40 text     red      solid     empty

# METAL 1
41 routing  blue     solid     dots4
41 blockage blue     solid     slash
41 text     blue     solid     empty

# METAL 2
42 routing  purple   solid     dots4
42 blockage purple   solid     slash
42 text     purple   solid     empty

# METAL 3
43 routing  green4    solid     dots4
43 blockage green4    solid     slash
43 text     green4    solid     empty

# METAL 4
44 routing  red1     solid     dots4
44 blockage red1     solid     slash
44 text     red1     solid     empty

# METAL 5
45 routing  gray     solid     dots4
45 blockage gray     solid     slash
45 text     gray     solid     empty

# METAL 6
46 routing  yellow   solid     dots4
46 blockage yellow   solid     slash
46 text     yellow   solid     empty

# VIA
60 routing  red      solid     cross
60 blockage red      solid     cross
60 text     red      solid     empty

# VIA 1
61 routing  blue     solid     cross 
61 blockage blue     solid     cross 
61 text     blue     solid     empty 

# VIA 2
62 routing  purple   solid     cross 
62 blockage purple   solid     cross 
62 text     purple   solid     empty 

# VIA 3
63 routing  green    solid     cross 
63 blockage green    solid     cross 
63 text     green    solid     empty 

# VIA 4
64 routing  red1     solid     cross 
64 blockage red2     solid     cross 
64 text     red3     solid     empty 

# VIA 5
65 routing  yellow   solid     cross 
65 blockage yellow   solid     cross 
65 text     yellow   solid     empty 
